#app-container {
    width:100%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
    .left-container {
        width:50%;
        height:100%;
        position: absolute;
        left:0;
        top:0;
        #code-editor {
            height:100%;
            width:100%;
        }
    }

    .right-container {
        width:50%;
        height:100%;
        position: absolute;
        right:0;
        top:0;
        background-color: black;
        vertical-align: middle;
        text-align: center;
    }

    #render-canvas {
        max-width: 100%;
        margin-top:20px;
    }
}